.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 70px;
    width: 100%;

    background-color: #87cf34;
    box-shadow: 0 3px 10px #0007;
    border-radius: 0 0 7px 7px;
    cursor: default;

    >img{
        width: 50px;
    }

    >h1{
        font-size: 2.5rem;
    }
}