.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 3;

    padding: 10px 20px;
    height: 70px;
    width: 100%;

    background-color: #87cf34;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.1rem;
}

.nameDEV {
    transition: .5s;

    &:hover {
        color: #ff4500;
        transition: .5s;
        transform: translateY(-3px);
    }

    >strong:hover {
        cursor: pointer;
    }
}

.iconsDiv {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1.7rem;
}

.icon {
    cursor: pointer;
    transition: .5s;

    &:hover {
        color: #ff4500;
        transform: translateY(-3px);
    }
}